@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	font-family: 'Lato', sans-serif;
	color: #454545;
	font-size: 15px;
}
ul, li, ol, dl, dt, dd, form, p, img, a, h1, h2, h3, h4, h5, h6, table, tr, td, th, select, input, textarea, button {
	margin: 0px;
	padding: 0px;
	outline: none;
	border: none;
	list-style: none;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 400;
	font-family: 'Oswald', sans-serif;
}
.clear {
	clear: both;
}
a:focus {
	outline: none;
	text-decoration: none;
}
/* --- Header --- */
.header-top {
	background: #f5f5f5;
	padding: 10px 0px;
	font-size: 14px;
	font-weight: 700;
}
.header-top .topContact {
	float: left;
}
.header-top .topContact li {
	float: left;
	padding-right: 20px;
}
.header-top .topContact li .fa {
	color: #47b89a;
	margin-right: 5px;
}
.header-top .topSocial {
	float: right;
}
.header-top .topSocial li {
	float: left;
	margin-left: 5px;
}
.header-top .topSocial li a {
	background: #47b89a;
	padding: 3px 6px;
	display: block;
	color: #fff;
	border-radius: 2px;
	transition: all linear 0.5s;
}
.header-top .topSocial li:nth-child(1) a:hover {
	background: #3b5998;
}
.header-top .topSocial li:nth-child(2) a:hover {
	background: #1da1f2;
}
.header-top .topSocial li:nth-child(3) a:hover {
	background: #dd4b39;
}
.header-top .topSocial li:nth-child(4) a:hover {
	background: #cd201f;
}
.header-top .topSocial li:nth-child(5) a:hover {
	background: #fcaf45;
}
.logoSection {
	padding: 20px 0px;
}
.logoSection img {
	height: 70px;
}
.logoSection .logo {
	float: left;
}
.logoSection .offerBox {
	float: right;
}
@media (max-width:650px) {
.logoSection .logo {
	float: none;
	text-align: center;
	padding-bottom: 20px;
}
.logoSection .offerBox {
	float: none;
	text-align: center;
}
}
@media (max-width:767px) {
.header-top .topContact {
	float: none;
	text-align: center;
}
.header-top .topContact li {
	float: none;
	padding-left: 20px;
	display: inline-block;
	padding-bottom: 10px;
}
.header-top .topSocial {
	float: none;
	text-align: center;
}
.header-top .topSocial li {
	float: none;
	display: inline-block;
	margin: 0px 1px;
}
}
/* -- Nav -- */
.menubar {
	background: #47b89a;
	margin-bottom: 1px;
}
.menubar .navbar {
	background: none;
	border: none;
	border-radius: 0px;
	margin-bottom: 0px;
}
.menubar .navbar-default .navbar-nav > li {
	margin-right: 2px;
}
.menubar .navbar-default .navbar-nav > li > a {
	color: #fff;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
}
.menubar .navbar-default .navbar-brand {
	display: none;
	color: #fff;
	font-family: 'Oswald', sans-serif;
}
.menubar .container {
	padding-left: 0px;
	padding-right: 0px;
}
.menubar .navbar-default .navbar-nav > li.active a, .menubar .navbar-default .navbar-nav > li > a:hover, .menubar .navbar-default .navbar-nav > li > a:focus {
	background: #e44412;
	outline: none;
	color: #fff;
}
.menubar .navbar-default .navbar-nav > .open > a, .menubar .navbar-default .navbar-nav > .open > a:focus, .menubar .navbar-default .navbar-nav > .open > a:hover {
	background: #e44412;
	outline: none;
	color: #fff;
}
.menubar .dropdown-menu {
	box-shadow: none;
	border-radius: 0px;
	border: none;
	background: #f0f0f0;
}
.menubar .dropdown-menu li {
	margin-bottom: 1px;
}
.menubar .dropdown-menu > li > a {
	padding-top: 6px;
	padding-bottom: 6px;
}
.menubar .dropdown-menu > li > a:hover, .menubar .dropdown-menu > li > a:focus {
	background: #e44412;
	color: #fff;
	outline: none;
}
@media (max-width:767px) {
.menubar .container {
	padding-left: 15px;
	padding-right: 15px;
}
.menubar .navbar-nav .open .dropdown-menu {
	background: #fff;
}
.menubar .navbar-default .navbar-nav > li {
	margin-right: 0px;
	margin-bottom: 2px;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
	background: #f7e7e3;
}
.menubar .navbar-default .navbar-brand {
	display: block;
}
.menubar .navbar-default .navbar-toggle {
	background: none;
	border: none;
}
.menubar .navbar-default .navbar-toggle .icon-bar {
	background: #fff;
}
.menubar .navbar-default .navbar-toggle:focus, .menubar .navbar-default .navbar-toggle:hover {
	background: #0f916e;
}
}
/* --- Product List --- */
.page .ProductsList {
	padding-top: 15px;
}
.page .ProductsList p {
	line-height: 28px;
	padding-bottom: 0px;
}
.ProductsList h2 {
	font-weight: 300;
	color: #47b89a;
	font-size: 40px;
	padding-bottom: 25px;
	text-align: center;
}
.ProductsList li {
	margin-bottom: 30px;
}
.ProductsList .imgBlock img {
	width: 100%;
	transition: all linear 1s;
}
.ProductsList .imgBlock img:hover {
	transform: scale(1.25, 1.25);
}
.ProductsList .imgBlock {
	overflow: hidden;
	position: relative;
}
.ProductsList .imgBlock h3 {
	position: absolute;
	bottom: 0px;
	left: 0px;
	background: rgba(0,0,0,0.6);
	font-size: 15px;
	width: 100%;
}
.ProductsList .imgBlock h3 a {
	color: #fff;
	padding: 10px 15px;
	display: block;
}
.ProductsList .imgBlock h3 a:hover {
	color: #97e4d0;
	text-decoration: none;
}
.ProductsList .block {
	background: #f9f8f5;
	padding: 15px;
	font-size: 14px;
	line-height: 26px;
}
.ProductsList .more {
	font-family: 'Oswald', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 50px;
}
.ProductsList .more a {
	display: inline-block;
	color: #fff;
	background: #47b89a;
	padding: 12px 20px;
	border-radius: 2px;
	transition: all linear 1s;
}
.ProductsList .more a:hover {
	text-decoration: none;
	background: #e44412;
}
/* --- Slider --- */
#SliderHome {
	margin-bottom: 80px;
}
#SliderHome img {
	width: 100%;
}
/* --- Welcome Home --- */
.welcomeHome {
	margin-bottom: 80px;
}
.WelcomeBox {
	position: relative;
}
.WelcomeBox .imageBox {
	width: 600px;
}
.WelcomeBox .imageBox img {
	width: 100%;
}
.WelcomeBox .textbox {
	background: #47b89a;
	width: 650px;
	min-height: 295px;
	position: absolute;
	right: 0px;
	top: 40px;
	color: #fff;
}
.WelcomeBox .textbox h1 {
	font-size: 28px;
	padding: 25px 25px 10px 25px;
	text-transform: uppercase;
}
@media (max-width:991px){
	.WelcomeBox .textbox{
		min-height:1px;
		padding-bottom:25px;
	}
	.WelcomeBox .textbox h1 {
		font-size: 20px;
		line-height:38px;
	}
}
.WelcomeBox .textbox p {
	line-height: 30px;
	padding: 0px 25px 10px 25px;
}
.WelcomeBox .textbox .more {
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	padding: 0px 0px 0px 25px;
}
.WelcomeBox .textbox .more a {
	color: #000;
	background: #fff000;
	border-radius: 2px;
	padding: 6px 15px;
	display: inline-block;
}
.WelcomeBox .textbox .more a:hover {
	background: #fff;
	text-decoration: none;
	transition: all linear 1s;
}
@media (max-width:991px) {
.WelcomeBox .imageBox {
	width: 100%;
}
.WelcomeBox .textbox {
	position: static;
	width: auto;
	margin-top: 1px;
}
}
/* --- Info Section Home Page --- */
.InfoSectionHome {
	padding-bottom: 50px;
}
.InfoSectionHome .block {
	background: #f9f8f5;
	padding: 15px 15px 0px 15px;
	position: relative;
	min-height: 375px;
}
.InfoSectionHome .block h2 {
	position: absolute;
	top: 40px;
	left: -10px;
	background: #e44412;
	color: #fff;
	font-size: 14px;
	padding: 8px 15px;
}
.InfoSectionHome .block .picBox {
	border: 5px solid #fff;
	background: #fff;
	margin-bottom: 12px;
}
.InfoSectionHome .picBox img {
	width: 100%;
}
.InfoSectionHome .readmore {
	margin-bottom: 30px;
}
.InfoSectionHome h3 {
	font-size: 16px;
	padding-bottom: 10px;
}
.InfoSectionHome p {
	font-size: 14px;
	line-height: 26px;
	padding-bottom: 15px;
}
.InfoSectionHome .readmore {
	font-family: 'Oswald', sans-serif;
}
.InfoSectionHome .readmore a {
	background: #47b89a;
	padding: 10px 15px;
	display: block;
	color: #fff;
	transition: all linear 1s;
}
.InfoSectionHome .readmore a:hover {
	text-decoration: none;
	background: #e44412;
}
.InfoSectionHome .eventsHome .picBox {
	width: 330px;
	float: left;
	margin-right: 15px;
}
@media (max-width:1199px) {
.InfoSectionHome .eventsHome .picBox {
	width: 263px;
}
}
.InfoSectionHome .eventsHome h3 {
	font-size: 18px;
	padding-top: 3px;
}
.InfoSectionHome .eventsHome h3 a {
	color: #47b89a;
}
.InfoSectionHome .eventsHome h3 a:hover {
	text-decoration: none;
	color: #e44412;
}
.InfoSectionHome ul {
	font-size: 14px;
	padding-bottom: 15px;
	font-weight: 600;
}
.InfoSectionHome ul li {
	display: inline-block;
	padding-right: 20px;
}
.InfoSectionHome ul li .fa {
	color: #e44412;
}
@media (max-width:991px) {
.InfoSectionHome .eventsHome .picBox {
	width: 100%;
}
.InfoSectionHome .block {
	min-height: 695px;
}
.InfoSectionHome ul li {
	padding-right: 0px;
	padding-bottom: 5px;
}
}
@media (max-width:767px) {
.InfoSectionHome .block {
	min-height: 1px;
}
}
/* --- Footer --- */
#footer {
	clear: both;
}
.footerTop {
	background: #47b89a;
	padding: 50px 0px 30px 0px;
	border-bottom: 1px solid #b9e3d8;
}
.footerTop .block {
	margin-bottom: 20px;
}
.footerTop h2 {
	color: #fff;
	font-size: 18px;
	padding-bottom: 15px;
}
.footerTop .box {
	padding: 10px;
	background: #fff;
	min-height: 234px;
}
.footerTop .box iframe {
	display: block;
}
.footerTop .box h3 {
	font-size: 17px;
	padding-bottom: 12px;
}
.footerTop .box.lastContact {
	padding: 15px;
}
.footerTop .box.lastContact ul {
	padding-bottom: 5px;
}
.footerTop .box.lastContact ul li {
	position: relative;
	padding: 0px 0px 8px 25px;
	font-size: 14px;
}
.footerTop .box.lastContact ul li:before {
	position: absolute;
	top: 0px;
	left: 5px;
	font-family: 'FontAwesome';
	color: #666;
}
.footerTop .box.lastContact ul li:nth-child(1):before {
	content: "\f041";
}
.footerTop .box.lastContact ul li:nth-child(2):before {
	content: "\f0e0";
}
.footerTop .box.lastContact ul li:nth-child(3):before {
	content: "\f0ac";
}
.footerTop .box.lastContact ul li:nth-child(4):before {
	content: "\f095";
}
.footerTop .box.lastContact p a {
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	background: #44e823;
	display: inline-block;
	padding: 8px 15px;
	border-radius: 2px;
	transition: all linear 0.5s;
}
.footerTop .box.lastContact p a:hover {
	text-decoration: none;
	background: #e44412;
}
.footerLast {
	padding: 15px;
	text-align: center;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	background: #39890e;
}
.footerLast a {
	color: #bddad2;
}
/* --- Page --- */
.page {
	padding: 50px 0px;
}
.page h1 {
	font-size: 40px;
	padding-bottom: 20px;
}
.page p, .page .leftside p {
	line-height: 30px;
	padding-bottom: 15px;
}
.page .leftside h2 {
	font-size: 24px;
	padding-bottom: 15px;
	padding-top: 10px;
}
.page .leftside h3 {
	font-size: 20px;
	padding-bottom: 12px;
	padding-top: 8px;
}
.leftside .main-pic {
	padding: 10px;
	background: #f0f0f0;
	margin-bottom: 15px;
}
.leftside .main-pic img {
	width: 100%;
}
.leftside{
	padding-bottom:20px;
}
.leftside > ul {
	margin-left: 30px;
	margin-bottom: 10px;
}
.leftside > ul > li {
	list-style: disc;
	line-height: 28px;
	padding-bottom: 10px;
}
.leftside dl dd {
	padding-bottom: 8px;
	margin-bottom: 8px;
	border-bottom: 1px solid #ddd;
}
/* -- Right Side -- */
#rightSide .block {
	padding: 15px;
	background: #e7f1ee;
	margin-bottom: 20px;
}
#rightSide .block h3 {
	font-size: 18px;
	padding-bottom: 10px;
}
#rightSide .block h4 {
	font-size: 16px;
	padding-bottom: 5px;
}
#rightSide .block h4 a {
	color: #47b89a;
}
#rightSide .block h4 a:hover {
	text-decoration: none;
	color: #e44412;
}
#rightSide .block .picBox {
	padding: 5px;
	background: #fff;
	margin-bottom: 10px;
}
#rightSide .block .picBox img {
	width: 100%;
}
#rightSide .block p {
	line-height: 28px;
	padding-bottom: 0px;
}
#rightSide .block p a {
	color: #47b89a;
	text-decoration: underline;
}
#rightSide .block p a:hover {
	color: #e44412;
}
/* --- Category --- */
.categoryBlock {
	background: #f0f0f0;
	padding: 15px;
	margin-bottom: 30px;
}
.categoryBlock .img-block {
	padding: 5px;
	background: #fff;
	margin-bottom: 15px;
}
.categoryBlock .img-block img {
	width: 100%;
}
.categoryBlock h3 {
	font-size: 18px;
}
.categoryBlock h3 a {
	color: #47b89a;
}
.categoryBlock h3 a:hover {
	text-decoration: none;
	color: #e44412;
}
/* --- Dealers --- */
.dealersBlock {
	background: #f0f0f0;
	padding: 15px 15px 10px 15px;
	margin-bottom: 30px;
	min-height:475px;
}
@media (max-width:767px){
	.dealersBlock {
		min-height:1px;
	}
}
.dealersBlock .img-block {
	padding: 5px;
	background: #fff;
	margin-bottom: 12px;
}
.dealersBlock .img-block img {
	width: 100%;
}
.dealersBlock h3 {
	font-size: 16px;
	padding-bottom: 10px;
}
.dealersBlock ul {
	font-size: 14px;
}
.dealersBlock ul li {
	padding: 5px 0px 5px 25px;
	position: relative;
}
.dealersBlock ul li:before {
	color: #e44412;
	position: absolute;
	top: 5px;
	left: 5px;
	font-family: 'FontAwesome';
}
.dealersBlock ul li.addr:before {
	content: "\f041";
}
.dealersBlock ul li.phone:before {
	content: "\f095";
}
.dealersBlock ul li.mobile:before {
	content: "\f10b";
}
.dealersBlock ul li.email:before {
	content: "\f0e0";
}
.dealersBlock ul li.web:before {
	content: "\f0ac";
}
/* --- Events Page and Gallery --- */
.eventBlock {
	background: #f0f0f0;
	padding: 15px;
	min-height:420px;
	margin-bottom: 30px;
}
@media (max-width:767px){
	.eventBlock {
		min-height:1px;
	}
}
.eventBlock .img-block {
	background: #fff;
	padding: 5px;
	margin-bottom: 15px;
}
.eventBlock .img-block img {
	width: 100%;
}
.eventBlock h3 {
	font-size: 18px;
	padding-bottom: 5px;
}
.eventBlock h3 a {
	color: #47b89a;
}
.eventBlock h3 a:hover {
	color: #e44412;
	text-decoration: none;
}
.eventBlock ul li {
	position: relative;
	padding: 10px 0px 0px 25px;
}
.eventBlock ul li:before {
	color: #e44412;
	position: absolute;
	top: 10px;
	left: 5px;
	font-family: 'FontAwesome';
}
.eventBlock ul li:first-child:before {
	content: "\f041";
}
.eventBlock ul li:nth-child(2):before {
	content: "\f073";
}
.eventBlock ul li:last-child:before {
	content: "\f0e4";
}
.Gallery ul li {
	float: left;
	padding: 5px 15px 15px 0px;
	width: 25%;
}
@media (max-width:1199px){
	.Gallery ul li{
		width:33.33%;
	}
}
@media (max-width:992px){
	.Gallery ul li{
		width:50%;
	}
}
@media (max-width:767px){
	.Gallery ul li{
		width:25%;
	}
}
@media (max-width:600px){
	.Gallery ul li{
		width:33.33%;
	}
}
@media (max-width:450px){
	.Gallery ul li{
		width:50%;
	}
}
.Gallery ul li img {
	width: 100%;
}
.eventDet ul li {
	padding: 5px 0px 5px 25px;
	position: relative;
}
.eventDet ul li:before {
	color: #e44412;
	position: absolute;
	top: 5px;
	left: 5px;
	font-family: 'FontAwesome';
}
.eventDet ul li:first-child:before {
	content: "\f041";
}
.eventDet ul li:nth-child(2):before {
	content: "\f073";
}
.eventDet ul li:last-child:before {
	content: "\f0e4";
}
/* --- Contact Info --- */
.contactInfo {
	background: #f0f0f0;
	padding: 15px 15px 0px 15px;
	margin-bottom: 15px;
}
.contactform {
	padding: 15px;
	margin-bottom: 15px;
	background: #f0f0f0;
}
.contactform .form-control {
	box-shadow: none;
	border-radius: 2px;
	min-height: 40px;
}
.contactform textarea.form-control{
	min-height:120px;
}
.contactform .btn.btn-default {
	background: #47b89a;
	font-weight: bold;
	border-radius: 2px;
	border: none;
	color: #fff;
	text-transform: uppercase;
}
.contactform .btn.btn-default:hover {
	background: #e44412;
}
