@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0; }

body, html {
  height: 100%; }

body {
  background: #ffffff;
  color: #404040;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  overflow-x: hidden; }

ul.floated-list {
  margin-bottom: 0; }
  ul.floated-list li {
    float: left;
    display: block; }
    ul.floated-list li a {
      display: block; }

a {
  color: inherit;
  -webkit-transition: all 0.75s ease-out;
  -o-transition: all 0.75s ease-out;
  transition: all 0.75s ease-out; }
  a:hover, a:focus {
    color: #dcac19; }

img {
  border: 0;
  max-width: 100%; }

h1, h2, h3, h4, h5, h6 {
  color: inherit; }

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
  color: inherit; }

h1 {
  font-size: 32px;
  font-weight: bold; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 20px; }

h4 {
  font-size: 18px; }

@media only screen and (max-width: 767px) {
  h1 {
    font-size: 22px;
    font-weight: bold; }

  h2 {
    font-size: 18px; }

  h3 {
    font-size: 17px; }

  h4 {
    font-size: 16px; }

  h6 {
    font-size: 15px; }

  p, a, span {
    font-size: 14px !important; } }
.clear {
  clear: both; }

.block {
  display: block; }

.inline-block {
  display: inline-block; }

.lowercase {
  text-transform: lowercase; }

.capitalize {
  text-transform: capitalize; }

.uppercase {
  text-transform: uppercase; }

.div-center {
  display: table;
  margin: 0 auto; }

.mytable {
  display: table;
  width: 100%;
  height: 100%; }

.fixed-table-layout {
  table-layout: fixed; }

.table-cell {
  display: table-cell; }

.va-middle {
  vertical-align: middle; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.fixed {
  position: fixed; }

.cover {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.fill {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover; }

.full-wrapper {
  display: block;
  width: 100%; }

.btn-theme, .btn-lg {
  height: 46px;
  width: 210px;
  background: #dcac19;
  color: #ffffff;
  font-weight: 500;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  padding: 12px 0;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3); }
  .btn-theme:hover, .btn-lg:hover, .btn-theme:focus, .btn-lg:focus {
    background: #c69a13;
    color: #ffffff; }
  .btn-theme span, .btn-lg span {
    margin-right: 5px; }
    .btn-theme span img, .btn-lg span img {
      margin-top: -5px; }
  @media only screen and (max-width: 767px) {
    .btn-theme, .btn-lg {
      height: 40px;
      padding: 10px 0; } }

.btn-lg {
  height: 50px;
  width: 295px;
  font-size: 20px;
  padding: 10px 0; }
  @media only screen and (max-width: 767px) {
    .btn-lg {
      height: 40px;
      width: 230px; } }

.section-title h1 {
  margin: 0 0 35px;
  font-weight: 600;
  color: #202020; }
  .section-title h1:after {
    content: '';
    width: 98px;
    height: 3px;
    background: #e3c062;
    display: table;
    margin: 0 auto;
    border-radius: 2px;
    margin-top: 10px; }
  @media only screen and (max-width: 767px) {
    .section-title h1 {
      margin: 0 0 20px; } }

.header {
  z-index: 9;
  position: relative;
  padding: 20px 0;
  background-color: transparent; }
  .header .logo {
    float: left;
    position: relative;
    z-index: 100; }
    @media all and (max-width: 767px) {
      .header .logo img {
        width: 130px;
        padding-top: 2px; } }
  .header .my-menu > ul {
    margin: 0;
    float: right; }
    @media all and (max-width: 1199px) {
      .header .my-menu > ul {
        margin: 0; } }
  .header .my-menu ul li {
    position: relative; }
    .header .my-menu ul li a {
      display: block;
      padding: 6px 18px;
      font-size: 16px;
      text-transform: capitalize;
      color: #404040;
      font-weight: 500; }
      .header .my-menu ul li a:hover, .header .my-menu ul li a:focus {
        color: #dcac19; }
      @media only screen and (max-width: 1199px) {
        .header .my-menu ul li a {
          font-size: 15px; } }
  .header .my-menu ul .active > a {
    color: #dcac19; }
  .header .my-menu ul .cta-btn {
    background: #e3c062;
    color: #ffffff;
    padding: 6px 15px;
    border-radius: 3px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.3);
    margin-left: 15px; }
    .header .my-menu ul .cta-btn:hover, .header .my-menu ul .cta-btn:focus {
      color: #ffffff;
      background: #c69a13; }
  @media only screen and (max-width: 1023px) {
    .header .my-menu {
      display: none; } }
  .header .toggle {
    display: none;
    position: absolute;
    right: 20px;
    top: 13px; }
    @media only screen and (max-width: 1023px) {
      .header .toggle {
        display: block; } }
    @media only screen and (max-width: 767px) {
      .header .toggle {
        right: 10px; } }
  @media all and (max-width: 1023px) {
    .header {
      height: 50px;
      padding: 10px 0; } }

.slider .carousel .item {
  height: 495px; }
  .slider .carousel .item .banner-caption {
    padding: 100px 0 20px;
    color: #ffffff; }
    .slider .carousel .item .banner-caption h2, .slider .carousel .item .banner-caption h3 {
      line-height: 1.4;
      margin: 0;
      text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.2); }
    .slider .carousel .item .banner-caption h2 {
      font-weight: 600; }
    .slider .carousel .item .banner-caption .btn-lg {
      margin: 20px 0 40px; }
    @media only screen and (max-width: 1023px) {
      .slider .carousel .item .banner-caption {
        text-align: center; } }
  @media only screen and (max-width: 1023px) {
    .slider .carousel .item {
      height: 380px; }
      .slider .carousel .item .banner-caption {
        padding-top: 50px; } }
  @media only screen and (max-width: 767px) {
    .slider .carousel .item {
      height: 340px; }
      .slider .carousel .item .banner-caption {
        padding-top: 40px; }
      .slider .carousel .item .btn-lg {
        margin: 15px 0 !important; } }
.slider .carousel-indicators {
  bottom: 0px; }
  .slider .carousel-indicators li {
    border: 2px solid #ffffff; }

.features {
  background: #dcac19;
  padding: 90px 0 190px; }
  .features .features-wrapper ul li {
    width: 16.66%; }
    .features .features-wrapper ul li .f-box a {
      display: block;
      text-align: center;
      padding: 0 25px; }
      .features .features-wrapper ul li .f-box a h3 {
        color: #ffffff;
        -webkit-transition: all 0.75s ease-out;
        -o-transition: all 0.75s ease-out;
        transition: all 0.75s ease-out;
        font-weight: 600; }
      .features .features-wrapper ul li .f-box a:hover h3, .features .features-wrapper ul li .f-box a:focus h3 {
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
        color: #725c18; }
    @media only screen and (max-width: 767px) {
      .features .features-wrapper ul li {
        width: 100% !important;
        margin-bottom: 15px; } }
  @media only screen and (max-width: 767px) {
    .features {
      padding: 40px 0 150px; } }

.registration {
  background: #ffffff;
  padding: 60px 0;
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.2);
  margin-top: -120px; }
  .registration .r-box {
    padding: 0 60px; }
    .registration .r-box h2 {
      color: #202020;
      font-weight: 600; }
    .registration .r-box p {
      font-weight: 500;
      margin: 20px 0; }
  .registration .b-r {
    border-right: 1px solid #d2d3d2; }
  @media only screen and (max-width: 767px) {
    .registration {
      padding: 10px 0 30px; }
      .registration .r-box {
        padding: 0 15px; }
      .registration .b-r {
        border: 0; } }

.bottom-section {
  background: #f1f1f1;
  position: relative; }
  .bottom-section .facts-wrapper {
    padding: 60px 0; }
    .bottom-section .facts-wrapper .fact-box {
      margin: 35px 0 0; }
      .bottom-section .facts-wrapper .fact-box h2 {
        font-weight: 600;
        line-height: 1.4; }
    @media only screen and (max-width: 767px) {
      .bottom-section .facts-wrapper {
        padding: 30px 0; } }

.partner-wrapper {
  padding: 60px 0; }
  .partner-wrapper .partners .slick-track {
    margin: 0 0 20px; }
    .partner-wrapper .partners .slick-track .p-img {
      margin: 0 15px;
      text-align: center;
      border: 1px solid #cbcbcb; }
      .partner-wrapper .partners .slick-track .p-img img {
        max-width: 100%;
        display: inline-block; }
      @media only screen and (max-width: 767px) {
        .partner-wrapper .partners .slick-track .p-img {
          margin: 0 15px; } }
    @media only screen and (max-width: 767px) {
      .partner-wrapper .partners .slick-track {
        margin: 20px 0; } }
  .partner-wrapper .partners .slick-dots li {
    width: 11px;
    height: 11px;
    margin: 0 2px;
    background: transparent;
    border-radius: 50%;
    border: 2px solid #dcac19; }
    .partner-wrapper .partners .slick-dots li button {
      display: none; }
  .partner-wrapper .partners .slick-dots .slick-active {
    background: #dcac19; }
  @media only screen and (max-width: 767px) {
    .partner-wrapper {
      padding: 30px 0; } }

.cta-wrapper {
  background: url(../../../../public/assets/front/images/cta-banner.jpg) no-repeat center;
  background-size: cover; }
  .cta-wrapper .overlay {
    background: rgba(0, 0, 0, 0.4); }
  .cta-wrapper .cta-content {
    padding: 60px 0; }
    .cta-wrapper .cta-content h2 {
      margin: 0 0 20px;
      color: #ffffff;
      line-height: 1.6;
      font-weight: 600; }

.lfooter {
  padding: 50px 0;
  background: #334149; }
  .lfooter .footer-content .foot-box {
    color: #ffffff; }
    .lfooter .footer-content .foot-box h6 {
      margin: 0;
      font-size: 16px;
      font-weight: 700; }
    .lfooter .footer-content .foot-box ul {
      list-style: none;
      padding: 0;
      margin: 25px 0 0; }
      .lfooter .footer-content .foot-box ul li a {
        padding-bottom: 10px;
        display: block; }
  .lfooter .footer-content .social ul a {
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background: #ffffff;
    color: #334149 !important;
    text-align: center;
    margin-right: 10px;
    font-size: 23px !important;
    padding-top: 2px; }
    .lfooter .footer-content .social ul a:hover {
      background: #dcac19; }
    @media only screen and (max-width: 1199px) {
      .lfooter .footer-content .social ul a {
        margin-right: 5px; } }
    @media only screen and (max-width: 1023px) {
      .lfooter .footer-content .social ul a {
        margin: 0 5px 5px 0; } }
  @media only screen and (max-width: 767px) {
    .lfooter .footer-content .social {
      display: table;
      margin: 0 auto; } }
  .lfooter .footer-content .l-box {
    margin-top: 25px; }
    @media only screen and (max-width: 767px) {
      .lfooter .footer-content .l-box {
        margin: 20px 0; } }
  .lfooter .copyright {
    display: block;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    padding: 10px 0 0;
    border-top: 1px solid #6a7c87;
    margin-top: 10px; }
  @media only screen and (max-width: 767px) {
    .lfooter {
      padding: 25px 0; }
      .lfooter .foot-box {
        text-align: center; } }

.visitors-cat {
  padding: 105px 0 60px; }
  .visitors-cat .registration {
    margin: 80px 0 0; }
  @media only screen and (max-width: 767px) {
    .visitors-cat {
      padding: 40px 0; }
      .visitors-cat .registration {
        margin: 10px 0 0; } }

.exhibitors-cat {
  padding: 105px 0 90px; }
  .exhibitors-cat .features-wrapper ul li {
    width: 20%; }
  @media only screen and (max-width: 767px) {
    .exhibitors-cat {
      padding: 40px 0 30px; } }

@media all and (min-width: 1024px) {
  .offcanvas,
  .body-inactive,
  .toggle {
    display: none !important; } }
.offcanvas {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(100%, 0);
  -ms-transform: translate(100%, 0);
  -o-transform: translate(100%, 0);
  transform: translate(100%, 0);
  -webkit-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
  background: #dcac19;
  width: 320px;
  z-index: 99;
  padding: 50px 0 0; }
  .offcanvas ul {
    margin: 0 0 15px;
    display: block; }
    .offcanvas ul li {
      float: none;
      border-bottom: 1px solid #bc8d1c; }
      .offcanvas ul li a {
        color: #ffffff;
        font-size: 16px;
        display: block;
        padding: 15px;
        text-transform: uppercase; }
        .offcanvas ul li a:hover, .offcanvas ul li a:focus {
          color: #926b0f; }
      .offcanvas ul li ul {
        display: none;
        padding: 15px;
        background: #e6b51f;
        margin-bottom: 0; }
        .offcanvas ul li ul li {
          border-bottom: 0; }
  .offcanvas .coff {
    top: 5px;
    left: 5px; }
    .offcanvas .coff a {
      padding: 9px;
      display: block; }
  @media all and (max-width: 767px) {
    .offcanvas {
      width: 100%; } }

.offcanvas.show-offcanvas {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }

.body-inactive {
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.54);
  display: none; }

/*# sourceMappingURL=style.css.map */
