@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

@import 'theme';
@import 'variables';


*,
*:before,
*:after{
	margin:0;
	padding:0;
	outline:0;
	border:0;
}

body,html{
	height:100%;
}

body{
	background: #ffffff;
	color: #404040;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
 	-moz-font-smoothing: antialiased;
 	-webkit-font-smoothing: antialiased;
 	font-smoothing: antialiased;
 	overflow-x: hidden;
}

ul.floated-list{
	margin-bottom:0;
	li{
		float: left;
		display:block;
		a{
			display:block;
		}
	}
}

a{
	color: inherit;
	&:hover, &:focus {
		color: $theme-color;
	}
	@include transition(all,0.75s,ease-out);
}

img{
	border:0;
	max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
	color: inherit;
}

h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a{
	color: inherit;
}

h1{
	font-size: 32px;
	font-weight: bold;
}

h2{
	font-size: 24px;
}

h3{
	font-size: 20px;
}

h4{
	font-size: 18px;
}

@media only screen and (max-width: 767px){
	h1{
		font-size: 22px;
		font-weight: bold;
	}

	h2{
		font-size: 18px;
	}

	h3{
		font-size: 17px;
	}

	h4{
		font-size: 16px;
	}
	h6{
		font-size: 15px;
	}
	p, a, span{
		font-size: 14px !important;
	}

}

// common styles

.clear{
	clear:both;
}
.block{
	display: block;
}
.inline-block{
	display: inline-block;
}
.lowercase{
	text-transform: lowercase;
}
.capitalize{
	text-transform: capitalize;
}
.uppercase{
	text-transform: uppercase;
}
.div-center{
	display:table;
	margin:0 auto;
}

.mytable{
	display: table;
	width: 100%;
	height: 100%;
}

.fixed-table-layout{
	table-layout: fixed;
}

.table-cell{
	display:table-cell;
}

.va-middle{
	vertical-align: middle;
}

.relative{
	position: relative;
}

.absolute{
	position: absolute;
}

.fixed{
	position: fixed;
}

.cover{
	@include coordinates(0,0,0,0);
}

.fill{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.full-wrapper{
	display: block;
	width: 100%;
}

.btn-theme {
	height: 46px;
	width: 210px;
	background: $theme-color;
	color: #ffffff;
	font-weight: 500;
	border-radius: 3px;
	display: inline-block;
	text-align: center;
	padding: 12px 0;
	box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);

		&:hover, &:focus{
			background: #c69a13;
			color: #ffffff;
		}

		span {
			margin-right: 5px;
			img {
				margin-top: -5px;
			}
		}
		@media only screen and (max-width: 767px) {
			height: 40px;
			padding: 10px 0;
		}
}

.btn-lg {
	@extend .btn-theme;
	height: 50px;
	width: 295px;
	font-size: 20px;
	padding: 10px 0;

	@media only screen and (max-width: 767px) {
		height: 40px;
		width: 230px;
	}
}

.section-title {
	h1 {
		margin: 0 0 35px;
		font-weight: 600;
		color: #202020;

		&:after {
			content: '';
			width: 98px;
			height: 3px;
			background: #e3c062;
			display: table;
			margin: 0 auto;
			border-radius: 2px;
			margin-top: 10px;
		}

		@media only screen and (max-width: 767px) {
			margin: 0 0 20px;
		}
	}
}

// specific css

.header{
	z-index: 9;
	position: relative;
	padding: 20px 0;
	background-color: transparent;

	.logo{
		float: left;
		position: relative;
		z-index: 100;

		@media all and (max-width: 767px){
			img{
				width: 130px;
				padding-top: 2px;
			}
		}
	}
	.my-menu{
		
		& > ul{
			margin:0;
			float: right;
			@media all and (max-width: 1199px){
				margin:0;
			}
		}
		ul{
			li{
				position: relative;
				a{
					display: block;
					padding: 6px 18px;
					font-size: 16px;
					text-transform: capitalize;
					color: #404040;
					font-weight: 500;

					&:hover, &:focus{
						color: $theme-color;
					}

					@media only screen and (max-width: 1199px){
						font-size: 15px;
					}
				}
			}
			.active > a {
				color: $theme-color;
			}
			.cta-btn{
				background: #e3c062;
				color: #ffffff;
				padding: 6px 15px;
				border-radius: 3px;
				box-shadow: 1px 1px 6px rgba(0,0,0,0.3);
				margin-left: 15px;

				&:hover, &:focus {
					color: #ffffff;
					background: #c69a13;
				}
			}
		}

		@media only screen and (max-width: 1023px) {
			display: none;
		}
	}

	.toggle{
		display: none;
		position: absolute;
		right: 20px;
		top: 13px;
		@media only screen and (max-width: 1023px){
			display: block;
		}
		@media only screen and (max-width: 767px){
			right: 10px;
		}
	}

	@media all and (max-width: 1023px){
		height: 50px;
		padding: 10px 0;
	}
}

.slider {
	.carousel {
		.item {
			height: 495px;

			.banner-caption {
				padding: 100px 0 20px;
				color: #ffffff;

				h2,h3 {
					line-height: 1.4;
					margin: 0;
					text-shadow: 2px 1px 2px rgba(0,0,0,0.2);
				}

				h2 {
					font-weight: 600;
				}

				.btn-lg {
					margin: 20px 0 40px;
				}

				@media only screen and (max-width: 1023px){
					text-align: center;
				}
			}
			@media only screen and (max-width: 1023px){
				height: 380px;

				.banner-caption {
					padding-top: 50px;
				}
			}
			@media only screen and (max-width: 767px){
				height: 340px;

				.banner-caption {
					padding-top: 40px;
				}
				.btn-lg {
					margin: 15px 0 !important;
				}
			}
		}
	}
	.carousel-indicators {
		bottom: 0px;

		li {
			border: 2px solid #ffffff;
		}
	}
}

.features {
	background: #dcac19;
	padding: 90px 0 190px;

	.features-wrapper {
		ul {
			li{
				width: 16.66%;

				.f-box {
					a {
						display: block;
						text-align: center;
						padding: 0 25px;

						h3 {
							color: #ffffff;
							@include transition(all,0.75s,ease-out);
							font-weight: 600;
						}

						&:hover, &:focus {
							h3 {
								text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
								color: #725c18;
							}
						}
					}
				}

				@media only screen and (max-width: 767px){
					width: 100% !important;
					margin-bottom: 15px;
				}
			}
		}
	}
	@media only screen and (max-width: 767px){
		padding: 40px 0 150px;
	}
}

.registration {
	background: #ffffff;
	padding: 60px 0;
	box-shadow: 5px 5px 30px rgba(0,0,0,0.2);
	margin-top: -120px;

	.r-box {
		padding: 0 60px;
		h2 {
			color: #202020;
			font-weight: 600;
		}
		p{
			font-weight: 500;
			margin: 20px 0;
		}
	}

	.b-r {
		border-right: 1px solid #d2d3d2;
	}

	@media only screen and (max-width: 767px){
		padding: 10px 0 30px;

		.r-box {
			padding: 0 15px;
		}
		.b-r {
			border: 0;
		}
	}
}

.bottom-section {
	background: #f1f1f1;
	position: relative;

	.facts-wrapper {
		padding: 60px 0;

		.fact-box {
			margin: 35px 0 0;

			h2 {
				font-weight: 600;
				line-height: 1.4;
			}
		}

		@media only screen and (max-width: 767px){
			padding: 30px 0;
		}
	}
}

.partner-wrapper {
	padding: 60px 0;
	.partners {
		.slick-track {
			margin: 0 0 20px;

			.p-img {
				margin:0 15px;
				text-align:center;
				border: 1px solid #cbcbcb;

				img {
					max-width:100%;
					display: inline-block;
				}

				@media only screen and (max-width:767px){
					margin: 0 15px;
				}
			}
			@media only screen and (max-width:767px){
				margin:20px 0;
			}
		}

		.slick-dots {
			li{
				width: 11px;
				height: 11px;
				margin: 0 2px;
				background: transparent;
				border-radius: 50%;
				border: 2px solid $theme-color;

				button{
					display: none;
				}
			}
			.slick-active{
				background: $theme-color;
			}
		}
	}
	@media only screen and (max-width: 767px){
		padding: 30px 0;
	}
}

.cta-wrapper {
	background: url(../../../../public/assets/front/images/cta-banner.jpg) no-repeat center;
	background-size: cover;

	.overlay {
		background: rgba(0,0,0,0.4);
	}

	.cta-content {
		padding: 60px 0;

		h2 {
			margin: 0 0 20px;
			color: #ffffff;
			line-height: 1.6;
			font-weight: 600;
		}
	}
}

.lfooter {
	padding: 50px 0;
	background: #334149;

	.footer-content {
		.foot-box {
			color: #ffffff;
			h6 {
				margin: 0;
				font-size: 16px;
				font-weight: 700;
			}

			ul {
				list-style: none;
				padding: 0;
				margin: 25px 0 0;

				li {
					a {
						padding-bottom: 10px;
						display: block;
					}
				}
			}
		}
		.social {
			ul {
				a {
					display: block;
					height: 35px;
					width: 35px;
					border-radius: 50%;
					background: #ffffff;
					color: #334149 !important;
					text-align: center;
					margin-right: 10px;
					font-size: 23px !important;
					padding-top: 2px;

					&:hover {
						background: $theme-color;
					}

					@media only screen and (max-width: 1199px) {
						margin-right: 5px;
					}
					@media only screen and (max-width: 1023px) {
						margin: 0 5px 5px 0;
					}
				}
			}
			@media only screen and (max-width:767px){
				display: table;
				margin: 0 auto;
			}
		}
		.l-box {
			margin-top: 25px;
			@media only screen and (max-width:767px){
				margin: 20px 0;
			}
		}
	}

	.copyright {
		display: block;
		text-align: center;
		color: #ffffff;
		font-size: 14px;
		padding: 10px 0 0;
		border-top: 1px solid #6a7c87;
		margin-top: 10px;
	}

	@media only screen and (max-width:767px){
		padding: 25px 0;

		.foot-box {
			text-align: center;
		}
	}
}

.visitors-cat {
	padding: 105px 0 60px;
	.registration {
		margin: 80px 0 0;
	}

	@media only screen and (max-width: 767px){
		padding: 40px 0;

		.registration {
			margin: 10px 0 0;
		}
	}
}

.exhibitors-cat {
	padding: 105px 0 90px;
	.features-wrapper {
		ul {
			li{
				width: 20%;
			}
		}
	}
	@media only screen and (max-width: 767px){
		padding: 40px 0 30px;
	}
}

// offcanvas css
@media all and (min-width: 1024px){
	.offcanvas,
	.body-inactive,
	.toggle{
		display: none !important;
	}
}

.offcanvas{
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	@include translate(100%,0);
	@include transition(all, 0.35s, ease-out);
	background: $theme-color;
	width:320px;
	z-index: 99;
	padding:50px 0 0;
	ul{
		margin:0 0 15px;
		display: block;
		li{
			float: none;
			border-bottom: 1px solid #bc8d1c;
			a{
				color:$theme-white;
				font-size: 16px;
				display: block;
				padding:15px;
				text-transform: uppercase;

				&:hover, &:focus {
					color: #926b0f;
				}
			}
			ul{
				display: none;
				padding: 15px;
				background:lighten( $theme-color, 3% );
				margin-bottom: 0;
				li{
					border-bottom: 0;
				}
			}
		}
	}
	.coff{
		top:5px;
		left:5px;
		a{
			padding:9px;
			display: block;
		}
	}
	@media all and (max-width: 767px){
		width: 100%;
	}
}

.offcanvas.show-offcanvas{
	@include translate(0,0);
}

.body-inactive{
	z-index: 11;
	background-color: rgba(0,0,0,0.54);
	display: none;
}